:host {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  display: block;

  position: relative;

  .content {
    overflow: scroll;
    //height: calc(100vh - var(--toolbar-height) - var(--bottom-navbar-height));
    height: calc(100vh - var(--toolbar-height));

    .cart-container {
      padding-bottom: 75px;


      .make-order {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: calc(100% - 32px);
        }

      }
    }

  }
}
