<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <div class="cart-container">
    <ng-container *ngIf="cartItems$ | async as cartItems">
      <gp-cart-item
        *ngFor="let c of cartItems"
        [product]="c"
        (delete)="onDelete($event)"
        (countChange)="onCountChange($event)"
      ></gp-cart-item>

      <div class="make-order">
        <ion-button (click)="onOrder(cartItems)">Make Order</ion-button>
      </div>
    </ng-container>



  </div>
</ion-content>

<!--<gp-bottom-navigation></gp-bottom-navigation>-->
