<ion-header>
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="onMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<gp-toolbar title="Products" [hasBackBtn]="false"></gp-toolbar>-->

<ion-content
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="loadNext()"
>
  <div class="loading" *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <ng-container *ngIf="products$ | async as products">
    <div class="product-container" *ngIf="products.length">
      <gp-product-card
        matRipple
        *ngFor="let p of products"
        [product]="p"
        (click)="openDialog(p.id)"
      ></gp-product-card>
    </div>

    <div class="no-items" *ngIf="!products.length && (isLoaded$ | async)">
      No items here
    </div>
  </ng-container>
</ion-content>

<!--<div-->
<!--  class="content"-->
<!--  gpScrollPositionRestore="product-list"-->
<!--  infiniteScroll-->
<!--  [infiniteScrollDistance]="2"-->
<!--  [infiniteScrollThrottle]="50"-->
<!--  (scrolled)="loadNext()"-->
<!--  [scrollWindow]="false"-->
<!--&gt;</div>-->
