<ion-header>
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="onMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="products$ | async as products">
    <div class="product-container" *ngIf="products.length">
      <gp-product-card
        matRipple
        *ngFor="let p of products"
        [product]="p"
        (click)="openDialog(p.id)"
      ></gp-product-card>
    </div>

    <div class="no-items" *ngIf="!products.length && (isLoaded$ | async)">
      No items here
    </div>
  </ng-container>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
