<gp-toolbar title="Products" [hasBackBtn]="false"></gp-toolbar>

<div
  class="content"
  gpScrollPositionRestore="product-list"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="loadNext()"
  [scrollWindow]="false"
>
  <div
    class="loading"
    *ngIf="isLoading$ | async"
  >
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <ng-container *ngIf="products$ | async as products">
    <div
      class="product-container"
      *ngIf="products.length"
    >
      <gp-product-card
        matRipple
        *ngFor="let p of products"
        [product]="p"
        (click)="openDialog(p.id)"
      ></gp-product-card>
    </div>

    <div
      class="no-items"
      *ngIf="!products.length && (isLoaded$ | async)"
    >
      No items here
    </div>
  </ng-container>
</div>

<gp-bottom-navigation></gp-bottom-navigation>
