/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



html,
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;

  --color-triplet: 242, 242, 247;

  --font-size: 14px;

  --app-color: rgb(var(--color-triplet));
  --on-app-color: rgb(28, 28, 30);

  --background-color: var(--app-color);
  --on-background-color: var(--on-app-color);

  --toolbar-height: 48px;
  --toolbar-shadow: none; //0 0 8px #6e6e6e;

  --card-shadow: 0 0 10px #7b7b7b;
  --card-background: rgba(225, 225, 225);
  --card-title-background: rgba(var(--color-triplet), 0.75);

  --dialog-background: white;
  --dialog-image-background: rgb(217, 217, 217);
  --dialog-image-shadow: 0 0 10px #606060;

  --sidenav-active-background: #dbdbdb;
  --sidenav-active-color: var(--on-background-color);

  --icon-size: 24px;

  --radius: 8px;

  --bottom-navbar-height: 48px;
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
  background: var(--dialog-background);
  color: var(--on-app-color);
}

